html {
    /*背景を城に設定しています*/
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.header {
    /* text-align: center; */
    background-color: rgb(238, 222, 229);
    /* 水平に表示させる */
    display: flex;
    /* 縦方向の中央寄せ */
    align-items: center;
    justify-content: space-between;
    /* サイズ */
    height: 110px;
    width: 100%;
}

/* ここから下がハンバーガーメニューに関するCSS */

.drawer_hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    /* ヘッダーと被らないように余白を調整 */
    top: 100px;
    left: 100%;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
    padding-left: 10px;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
    /* これは何？ */
    left: 0;
}

.sample img {
    height: 200px;
    margin: 10px;
}

.sample img:hover {
    transform: scale(1.2, 1.2);
    transition: 0.5s all;
}

.ulContent {
    width: max-content;
    margin: auto;
    text-align: left;
}

.bnr {
    text-align: right;
}