<!DOCTYPE html>
<html>

<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

<head>
    <meta charset="utf-8">
    <title>イラスト集</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- ヘッダー -->
    <header class="header">

        <!-- ハンバーガーメニュー部分 -->
        <div class="nav">

            <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
            <input type="checkbox" id="drawer_input" class="drawer_hidden">
            <!-- ハンバーガーアイコン -->
            <label for="drawer_input" class="drawer_open">
                <span></span>
            </label>
            <!-- メニュー -->
            <nav class="nav_content">
                <ul class="nav_list">
                    <li class="nav_item"><a href="../index.html">Home</a></li>
                    <li class="nav_item"><a href="../inquiry/index.html">お問い合わせ</a></li>
                    <li class="nav_item"><a href="index.html">イラスト集</a>
                </ul>
            </nav>

        </div>
        <!-- home -->
        <a href="../index.html" class="home">
            <img src="../illustration/home_image.jpg" width="400px" height="100px" alt="home">
        </a>
        <a href="../inquiry/index.html" class="home">
            <img src="../illustration/inquiry.jpg" width="60px" height="50px" alt="お問い合わせ">
        </a>
    </header>
    <div>
        <h1 style="text-align: center;">
            イラスト集
        </h1>
        <h2 class="seriesTitle" style="text-align: center;">
            ドット絵シリーズ
        </h2>
        <div class="card-wrapper">
            <div class="card">
                <a href="../illustration/pixel_kuma.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_kuma.png" alt="ドット絵のくま">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のくま
                    </h3>
                    <h4>
                        制作時間：１０分
                    </h4>
                    <p>
                        １番初めに描いたドット絵。
                        描き方に慣れず難しかったです。
                    </p>
                </div>
                <a href="../illustration/pixel_kuma.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/pixel_usagi.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_usagi.png" alt="ドット絵のうさぎ">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のうさぎ
                    </h3>
                    <h4>
                        制作時間：１０分
                    </h4>
                    <p>
                        足（肉球）部分の描写と耳がうまくできなかったです。
                    </p>
                </div>
                <a href="../illustration/pixel_usagi.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/pixel_neko.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_neko.png" alt="ドット絵のねこ">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のねこ
                    </h3>
                    <h4>
                        制作時間：１０分
                    </h4>
                    <p>
                        ヒゲと全体のバランス、耳の形状などドット絵でとうまくできず苦戦しました。
                    </p>
                </div>
                <a href="../illustration/pixel_neko.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/pixel_kirin.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_kirin.png" alt="ドット絵のきりん">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のきりん
                    </h3>
                    <h4>
                        制作時間：１０分
                    </h4>
                    <p>
                        首が細いのでキリンの模様レイアウトを何度も書き直しました。
                    </p>
                </div>
                <a href="../illustration/pixel_kirin.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/pixel_elephant.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_elephant.png" alt="ドット絵のぞう">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のぞう
                    </h3>
                    <h4>
                        制作時間：１０分
                    </h4>
                    <p>
                        大きな丸い耳の描写と牙のレイアウトがとても難しかったです。
                    </p>
                </div>
                <a href="../illustration/pixel_elephant.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/pixel_ichigo.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_ichigo.png" alt="ドット絵のいちご">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のいちご
                    </h3>
                    <h4>
                        制作時間：１３分
                    </h4>
                    <p>
                        ヘタ部分とイチゴの粒の配置や形が難しかったです。
                        粒は左右対称で描いたが、アシンメトリーでも試せばよかったと思います。
                    </p>
                </div>
                <a href="../illustration/pixel_ichigo.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/pixel_melon.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/pixel_melon.png" alt="ドット絵のメロン">
                </a>
                <div class="card-content">
                    <h3>
                        ドット絵のメロン
                    </h3>
                    <h4>
                        制作時間：１７分
                    </h4>
                    <p>
                        メロンは全体が丸い形なのですが、それをドット絵で表現するのが慣れていなくて難しく感じました。
                    </p>
                </div>
                <a href="../illustration/pixel_melon.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

        </div>

        <h2 class="seriesTitle">
            女の子シリーズ
        </h2>
        <div class="card-wrapper">
            <div class="card">
                <a href="../illustration/IMG_0038.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0038.png" alt="カチューシャの女の子">
                </a>
                <div class="card-content">
                    <h3>
                        カチューシャの女の子
                    </h3>
                    <h4>
                        制作時間：２時間１７分
                    </h4>
                    <p>
                        コピックで紙に描いたような質感の絵の練習。
                        使用レイヤーなどの種類で紙のような質感が再現できるのを学びました。
                        やわらかい風合いになり、通常のレイヤーで描いたものと雰囲気がとても変わります。
                    </p>
                </div>
                <a href="../illustration/IMG_0038.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0073.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0073.png" alt="月に座る女の子">
                </a>
                <div class="card-content">
                    <h3>
                        月に座る女の子
                    </h3>
                    <h4>
                        制作時間：５４分
                    </h4>
                    <p>
                        エフェクトペンを使いたくて描いた作品だが、まったく使えていない。
                        月の形もうまくできずに終わってしまいました。全体的に自分がイメージするようなものを表現できなかった
                        まだまだ課題が多く残る作品です。
                    </p>
                </div>
                <a href="../illustration/IMG_0073.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0072.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0072.png" alt="スイーツと女の子">
                </a>
                <div class="card-content">
                    <h3>
                        スイーツと女の子
                    </h3>
                    <h4>
                        制作時間：６時間４１分
                    </h4>
                    <p>
                        オブジェクトが多く、沢山のレイヤーを重ねて作成しました。
                        この作品はレイヤー管理が重要でした。また、
                        スイーツの質感を表現したく、試行錯誤しながら描きました、が、なかなかうまく表現しきれませんでした。
                    </p>
                </div>
                <a href="../illustration/IMG_0072.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0057.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0057.png" alt="天使風女の子">
                </a>
                <div class="card-content">
                    <h3>
                        天使風女の子
                    </h3>
                    <h4>
                        制作時間：２時間１分
                    </h4>
                    <p>
                        逆光風の描き方を学習した作品。
                        通常の色彩で描いた上に影色を乗せ、オブジェクトの淵は明るさを残して表現しました。
                        天使の輪は一つの画像をコピー。変形して使いました。
                    </p>
                </div>
                <a href="../illustration/IMG_0057.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0083.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0083.png" alt="地雷系の女の子１">
                </a>
                <div class="card-content">
                    <h3>
                        地雷系女の子１
                    </h3>
                    <h4>
                        制作時間：４時間２５分
                    </h4>
                    <p>
                        自分の中では少し成長できたと感じる作品です。
                        線画の太さに強弱をつけることで絵にメリハリがつき、今までの下書きよりもクオリティを上げることができました。
                        瞳のエフェクトもこだわりました。
                    </p>
                </div>
                <a href="../illustration/IMG_0083.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0062.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0062.png" alt="鍵盤マーチ">
                </a>
                <div class="card-content">
                    <h3>
                        鍵盤マーチ
                    </h3>
                    <h4>
                        制作時間：４時間２１分
                    </h4>
                    <p>
                        フリルの練習。
                        うまいとは言えませんが、ネットや書籍を参考にしました。
                        沢山のパターンがあるので練習していきたいです。
                        ハイライト・陰影にも意識して色を塗っていきました。ピアノの鍵盤はもっといい描き方があったと思います。
                    </p>
                </div>
                <a href="../illustration/IMG_0062.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0075.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0075.png" alt="麦わら帽子の女の子">
                </a>
                <div class="card-content">
                    <h3>
                        麦わら帽子の女の子
                    </h3>
                    <h4>
                        制作時間：４時間２３分
                    </h4>
                    <p>
                        麦わら帽子の描写と顔への光と影の入り方など、難しい表現が盛りだくさんでした。
                        顔のバランスがイメージするものとずれてしまいました。
                        こちらもまだまだ課題が残る作品です。
                    </p>
                </div>
                <a href="../illustration/IMG_0075.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0081.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0081.png" alt="地雷系の女の子２">
                </a>
                <div class="card-content">
                    <h3>
                        地雷系の女の子２
                    </h3>
                    <h4>
                        制作時間：２時間２６分
                    </h4>
                    <p>
                        全体的に黒い服を着ているので、立体感や服のシワの表現をどうすればいいのか工夫しました。
                        同じ黒でも部分ごとに色や透過具合を少し変えたりすることで表現できたと思います。
                        エナメル素材の靴の表現もできたと思います。
                    </p>
                </div>
                <a href="../illustration/IMG_0039.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0039.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0039.png" alt="水彩画風の女の子">
                </a>
                <div class="card-content">
                    <h3>
                        水彩画風の女の子
                    </h3>
                    <h4>
                        制作時間：１時間４５分
                    </h4>
                    <p>
                        コピック風の練習と同じで使用レイヤーによって質感を変えることができました。
                        使用レイヤー、使うペンの種類など豊富な中からセレクトできるところがデジタルで描くことの
                        楽しさだと感じました。
                    </p>
                </div>
                <a href="../illustration/IMG_0039.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0076.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0076.png" alt="ネコ耳の女の子">
                </a>
                <div class="card-content">
                    <h3>
                        ネコ耳の女の子
                    </h3>
                    <h4>
                        制作時間：６時間９分
                    </h4>
                    <p>
                        シンプルな絵ですが、髪の毛の表現にこだわった作品になります。
                        特に毛量がおおいキャラクターなので時間がかかっています。
                        髪の毛のアウトライン～ハイライト・影をたくさん描き、ほかの作品よりも髪の毛の質感を表現できたと思います。
                    </p>
                </div>
                <a href="../illustration/IMG_0076.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>
        </div>

        <h2 class="seriesTitle">
            落書き
        </h2>
        <div class="card-wrapper">
            <div class="card">
                <a href="../illustration/IMG_0042.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0042.png" alt="ごみ捨ての母">
                </a>
                <div class="card-content">
                    <h3>
                        ごみ捨ての母
                    </h3>
                    <h4>
                        制作時間：１分
                    </h4>
                    <p>
                        ラインスタンプを作ろうと思い描きました。（下書き段階）
                        甲州弁の母をイメージしました。
                    </p>
                </div>
                <a href="../illustration/IMG_0042.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0043.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0043.png" alt="新聞を読む母">
                </a>
                <div class="card-content">
                    <h3>
                        新聞を読む母
                    </h3>
                    <h4>
                        制作時間：２分
                    </h4>
                    <p>
                        ラインスタンプを作ろうと思い描きました。（下書き段階）
                        甲州弁の母をイメージしました。
                    </p>
                </div>
                <a href="../illustration/IMG_0042.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0044.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0044.png" alt="うんち">
                </a>
                <div class="card-content">
                    <h3>
                        うんち
                    </h3>
                    <h4>
                        制作時間：２分
                    </h4>
                    <p>
                        ラインスタンプを作ろうと思い描きました。
                        子供が好きかなと思いましたが、うまくかけず、、、。
                    </p>
                </div>
                <a href="../illustration/IMG_0044.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0078.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0078.png" alt="ねこ">
                </a>
                <div class="card-content">
                    <h3>
                        ねこ
                    </h3>
                    <h4>
                        制作時間：３分
                    </h4>
                    <p>
                        落書きです。
                    </p>
                </div>
                <a href="../illustration/IMG_0085.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0085.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0085.png" alt="人参を抜くうさぎ">
                </a>
                <div class="card-content">
                    <h3>
                        人参を抜くうさぎ
                    </h3>
                    <h4>
                        制作時間：６分
                    </h4>
                    <p>
                        落書きです。
                    </p>
                </div>
                <a href="../illustration/IMG_0085.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0084.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0084.png" alt="おにぎりマンもどき">
                </a>
                <div class="card-content">
                    <h3>
                        おにぎりマンもどき
                    </h3>
                    <h4>
                        制作時間：２分
                    </h4>
                    <p>
                        急におにぎりマンを思い出したのでかいてみました。
                        ラインスタンプを作ろうと思いキャラを考えていたのですが、いい案がなかなか浮かばず、、。
                        アンパンマンってすごいんだなと改めて思った瞬間です。
                    </p>
                </div>
                <a href="../illustration/IMG_0084.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0071.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0071.png" alt="カラフル女子">
                </a>
                <div class="card-content">
                    <h3>
                        カラフル女子
                    </h3>
                    <h4>
                        制作時間：２１分
                    </h4>
                    <p>
                        アイビスペイントのいろいろなペンを使おうと思い描きました。
                        髪の毛もアイビスのペンの一個です。
                        落書きで描きましたが楽しかったです。
                    </p>
                </div>
                <a href="../illustration/IMG_0071.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

            <div class="card">
                <a href="../illustration/IMG_0070.png" data-lightbox="group">
                    <img class="card-img" src="../illustration/IMG_0070.png" alt="夕暮れスカート">
                </a>
                <div class="card-content">
                    <h3>
                        夕暮れスカート
                    </h3>
                    <h4>
                        制作時間：４２分
                    </h4>
                    <p>
                        レイヤーの範囲指定やを勉強したくて描きました。
                        スカートと背景はアイビスペイントの既存のものを使用、張り付ける範囲の選択方法や、
                        範囲内の色の変更方法など、アイビスを使いこなすための勉強の一つ。
                    </p>
                </div>
                <a href="../illustration/IMG_0070.png" download>
                    <input type="button" value="ダウンロード" class="card-button">
                </a>
            </div>

        </div>
    </div>
</body>

</html>